@font-face {
  font-family: "Linefont";
  src: url("Linefont-VariableFont_wdth,wght.ttf") format("ttf");
}
html, body {
  margin: 0;
  padding: 0;
  /*   font-family: Linefont; */
  font-family: monospace;
/*  font-size: 10px;*/
/*  line-height: 0.25em;*/
}

div {
  width:1000vw;
  margin: 0px;
  display: flex;
  align-items: center;
}
span {
  width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  display: block;
  margin: -3px -3px;
}

.material-symbols-outlined {
  font-size: 24px !important;
  font-variation-settings: 'OPSZ' 24;
}

canvas {
  display: block;
}
